# Python
__pycache__/
*.pyc
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data (PENTING!)
*.csv
*.xlsx
data/

# Models (PENTING!)
*.pkl
*.h5

# Secrets (SANGAT PENTING!)
.env
*.key

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/